<nav>
    <% if (user) { %>
        <a href="/auth/sing-out">Sign Out</a>
        <a href="/users/<%=user._id%>/foods">My Pantry</a>
        <a href="/users">Explore Our Community</a>
    <% } else { %>
        <a href="/auth/sing-up">Sign Up</a>
        <a href="/auth/sing-in">Sign In</a>
    <% } %>
</nav>