<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Members</h1>
    <% users.forEach((oneUser)=>{%>
        <% if(oneUser._id != user._id){%>
            <h2><a href="/users/<%=oneUser._id%>"><%=oneUser.username%></a></h2>
        <%}%>
    <%})%>

</body>
</html>